.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
}
.channelrow__text{
    display: flex;
    flex-direction: column;
}

.channelrow__text > p{
    color: #606060;
    font-size: small;

}

.channelrow__text > h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userIcon {
    border-radius: 50%;
    width: 7em;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: 10px 60px;
}